In [9]:
%load_ext autoreload
%autoreload 2

In [38]:
import sys
import logging
import requests
from bs4 import BeautifulSoup

sys.path.append("..")
from moonlight.steamer_dataset import BatterProjectionDataset, PitcherProjectionDataset
from moonlight.salary_dataset import LeagueSalaryDataset
from moonlight.salary_scraper import SalaryDataset
from moonlight.threshold_model import ThresholdModel

In [41]:
bpd = BatterProjectionDataset()

In [42]:
bpd.build_dataset()

         firstname   lastname        AB         H       2B      3B       HR  \
mlbamid
542364      Rafael     Ortega    0.8860    0.2058   0.0424  0.0047   0.0194
595144      Jaycob    Brugman    0.8936    0.1992   0.0382  0.0031   0.0283
542303     Marcell      Ozuna  559.8388  156.5854  26.3366  1.0563  33.8086
571970         Max      Muncy  502.0048  116.9732  19.9105  1.0725  28.7995
592808      Andrew      Toles    0.9211    0.2181   0.0472  0.0030   0.0254
...            ...        ...       ...       ...      ...     ...      ...
674707     Abraham      Lopez    0.9252    0.1590   0.0252  0.0024   0.0145
666519       Eddie  Hernandez    0.9372    0.1691   0.0258  0.0032   0.0092
667760       Kendy       Moya    0.9272    0.1495   0.0190  0.0020   0.0073
665816       Nolan      Perez    0.9452    0.1389   0.0166  0.0018   0.0149
667826   Borinquen     Mendez    0.9402    0.1506   0.0181  0.0023   0.0070

              BB     HBP      SB  ...  gC  g1B  g2B  g3B  gSS  gLF  gCF  gRF  \
mlbamid                           ...
542364    0.0936  0.0060  0.0206  ...   0    0    0    0    0    0    0    0
595144    0.0846  0.0080  0.0087  ...   0    0    0    0    0    0    0    0
542303   68.5880  3.8264  4.7654  ...   0    0    0    0    0    1    0    0
571970   91.1351  7.9067  3.1139  ...   0    1    0    1    0    0    0    0
592808    0.0541  0.0110  0.0125  ...   0    0    0    0    0    0    0    0
...          ...     ...     ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
674707    0.0490  0.0120  0.0101  ...   0    0    0    0    0    0    0    0
666519    0.0390  0.0100  0.0105  ...   0    0    0    0    0    0    0    0
667760    0.0480  0.0110  0.0120  ...   0    0    0    0    0    0    0    0
665816    0.0300  0.0110  0.0096  ...   0    0    0    0    0    0    0    0
667826    0.0350  0.0110  0.0164  ...   0    0    0    0    0    0    0    0

         gDH  gOF
mlbamid
542364     0    0
595144     0    0
542303     0    1
571970     0    0
592808     0    0
...      ...  ...
674707     0    0
666519     0    0
667760     0    0
665816     0    0
667826     0    0

[3185 rows x 21 columns]
         firstname   lastname        AB         H       2B      3B       HR  \
mlbamid
542364      Rafael     Ortega    0.8860    0.2058   0.0424  0.0047   0.0194
595144      Jaycob    Brugman    0.8936    0.1992   0.0382  0.0031   0.0283
542303     Marcell      Ozuna  559.8388  156.5854  26.3366  1.0563  33.8086
571970         Max      Muncy  502.0048  116.9732  19.9105  1.0725  28.7995
592808      Andrew      Toles    0.9211    0.2181   0.0472  0.0030   0.0254
...            ...        ...       ...       ...      ...     ...      ...
674707     Abraham      Lopez    0.9252    0.1590   0.0252  0.0024   0.0145
666519       Eddie  Hernandez    0.9372    0.1691   0.0258  0.0032   0.0092
667760       Kendy       Moya    0.9272    0.1495   0.0190  0.0020   0.0073
665816       Nolan      Perez    0.9452    0.1389   0.0166  0.0018   0.0149
667826   Borinquen     Mendez    0.9402    0.1506   0.0181  0.0023   0.0070

              BB     HBP      SB  ...  pC  p1B  p2B  p3B  pSS  pLF  pCF  pRF  \
mlbamid                           ...
542364    0.0936  0.0060  0.0206  ...   0    0    0    0    0    0    0    0
595144    0.0846  0.0080  0.0087  ...   0    0    0    0    0    0    0    0
542303   68.5880  3.8264  4.7654  ...   0    0    0    0    0    1    0    0
571970   91.1351  7.9067  3.1139  ...   0    1    0    1    0    0    0    0
592808    0.0541  0.0110  0.0125  ...   0    0    0    0    0    0    0    0
...          ...     ...     ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
674707    0.0490  0.0120  0.0101  ...   0    0    0    0    0    0    0    0
666519    0.0390  0.0100  0.0105  ...   0    0    0    0    0    0    0    0
667760    0.0480  0.0110  0.0120  ...   0    0    0    0    0    0    0    0
665816    0.0300  0.0110  0.0096  ...   0    0    0    0    0    0    0    0
667826    0.0350  0.0110  0.0164  ...   0    0    0    0    0    0    0    0

         pDH  pOF
mlbamid
542364     0    0
595144     0    0
542303     0    1
571970     0    0
592808     0    0
...      ...  ...
674707     0    0
666519     0    0
667760     0    0
665816     0    0
667826     0    0

[3185 rows x 21 columns]

        firstname   lastname   fg_points   pC  p1B  p2B  p3B  pSS  pOF  pDH
mlbamid
665742       Juan       Soto  1195.09080  0.0  0.0  0.0  0.0  0.0  1.0  0.0
545361       Mike      Trout  1179.28293  0.0  0.0  0.0  0.0  0.0  1.0  0.0
660670     Ronald  Acuna Jr.  1124.48272  0.0  0.0  0.0  0.0  0.0  1.0  0.0
665487   Fernando  Tatis Jr.  1072.26721  0.0  0.0  0.0  0.0  1.0  0.0  0.0
641355       Cody  Bellinger  1072.04552  0.0  0.5  0.0  0.0  0.0  0.5  0.0
...           ...        ...         ...  ...  ...  ...  ...  ...  ...  ...
672575     Kember     Nacero     0.06035  NaN  NaN  NaN  NaN  NaN  NaN  NaN
671222     Ranser     Amador     0.06004  NaN  NaN  NaN  NaN  NaN  NaN  NaN
681941     Jaylen     Palmer     0.05912  NaN  NaN  NaN  NaN  NaN  NaN  NaN
678356     Hector   Vizcaino     0.05750  NaN  NaN  NaN  NaN  NaN  NaN  NaN
670922       Saul     Torres     0.05645  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3185 rows x 10 columns]

In [25]:
tm = ThresholdModel()

In [93]:
tm.data

,,Salary,format,n_teams,SP,RP,C,1B,2B,3B,SS,OF,Util
playerid,teamname,,,,,,,,,,,,
2429.0,Ce nom d'√©quipe est fran√ßhy,15.0,H2H FanGraphs Points,12.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2434.0,Snakes Inside a Leather Armchair,33.0,H2H FanGraphs Points,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2520.0,G√∂ttingen Gaussian Geese üê¶,10.0,H2H FanGraphs Points,12.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2967.0,Pollock & Pollack LLC.,16.0,H2H FanGraphs Points,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3516.0,Ce nom d'√©quipe est fran√ßhy,3.0,H2H FanGraphs Points,12.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23735.0,Crochet Rocket,4.0,H2H FanGraphs Points,16.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23798.0,Intentional Balks,4.0,H2H FanGraphs Points,16.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25377.0,Intentional Balks,6.0,H2H FanGraphs Points,16.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27461.0,Mighty Melonheads,3.0,H2H FanGraphs Points,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
27463.0,Crochet Rocket,5.0,H2H FanGraphs Points,16.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
tm.data.to_csv("~/Downloads/test.csv")

In [67]:
tm.data

,,1B,2B,3B,C,OF,RP,SP,SS,Salary,"('Salary', '')",format,"('format', '')",n_teams,"('n_teams', '')"
playerid,teamname,,,,,,,,,,,,,,
2429.0,Chad is HIV Positive,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,15.0,NaN,Ottoneu Classic (4x4),NaN,12.0,NaN
2520.0,Dave Stewart's Balls,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0,NaN,Ottoneu Classic (4x4),NaN,12.0,NaN
2967.0,Dave Stewart's Balls,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,10.0,NaN,Ottoneu Classic (4x4),NaN,12.0,NaN
3516.0,Freeport Pretzels,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,NaN,Ottoneu Classic (4x4),NaN,12.0,NaN
3548.0,negative EV,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,NaN,Ottoneu Classic (4x4),NaN,12.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23252.0,El Ni√±o de San Diego,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,NaN,Old School (5x5),NaN,12.0,NaN
23735.0,Polar Bears,0.0,0.0,0.0,0.0,0.0,0.5,0.5,0.0,1.0,NaN,Old School (5x5),NaN,12.0,NaN
25377.0,Mudcats,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,Old School (5x5),NaN,12.0,NaN
27458.0,Get Some,0.0,0.0,0.0,0.0,0.0,0.5,0.5,0.0,4.0,NaN,Old School (5x5),NaN,12.0,NaN
27463.0,Red Dog,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,NaN,Old School (5x5),NaN,12.0,NaN

In [56]:
lsd.df.loc[lsd.df.index.get_level_values("teamname") != "Restricted List"]

,,TeamID,ottoneu ID,FG MinorLeagueID,Name,MLB Team,Position(s),Salary
playerid,teamname,,,,,,,
13510.0,What You Need Is a Curveball,63,18284,sa598784,Jos√© Ram√≠rez,CLE,3B,$43
19427.0,What You Need Is a Curveball,63,23814,sa873698,Shane Bieber,CLE,SP,$32
13543.0,What You Need Is a Curveball,63,18460,sa597786,Blake Snell,SDP,SP,$28
15689.0,What You Need Is a Curveball,63,23732,sa657487,Luis Castillo,CIN,SP,$24
10324.0,What You Need Is a Curveball,63,6130,sa503013,Marcell Ozuna,ATL,OF,$22
...,...,...,...,...,...,...,...,...
14986.0,Beck Panthers,817,31173,sa659493,Giovanny Gallegos,STL,RP,$5
19680.0,Beck Panthers,817,22611,sa873550,Sixto Sanchez,MIA,SP,$5
19918.0,Beck Panthers,817,23833,sa3002838,Daulton Varsho,ARI,C/OF,$5
12095.0,Beck Panthers,817,10429,sa506959,Yimi Garcia,MIA,RP,$4
17610.0,Beck Panthers,817,22690,sa874808,Tanner Rainey,WSN,RP,$3

In [97]:
lsd = LeagueSalaryDataset(league_id=553)
lsd.build_dataset()
lsd.df

,,Salary,1B,2B,3B,C,OF,RP,SP,SS,Util,n_teams,format
playerid,teamname,,,,,,,,,,,,
2036.0,Green Collar Baseball,30,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12,FanGraphs Points
2434.0,Hazel's Heroes,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,12,FanGraphs Points
2520.0,Capitol Hill Autonomous Zone-% üöî,11,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12,FanGraphs Points
2967.0,Richie My Sexson,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,12,FanGraphs Points
3132.0,üç´DarvishAndTheüå≠flavored water,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,12,FanGraphs Points
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22815.0,Green Collar Baseball,8,0.0,0.0,0.0,0.0,0.0,0.5,0.5,0.0,0.0,12,FanGraphs Points
23252.0,Capitol Hill Autonomous Zone-% üöî,4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12,FanGraphs Points
25377.0,Hazel's Heroes,5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12,FanGraphs Points
27458.0,HowMuch Gri Woulda Grichuk Chukü¶î,9,0.0,0.0,0.0,0.0,0.0,0.5,0.5,0.0,0.0,12,FanGraphs Points
27463.0,Do You Even Crochet?,10,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,12,FanGraphs Points

In [98]:
lsd.projections

                         Name       Team  fg_points
playerid
20123               Juan Soto  Nationals     1195.4
10155              Mike Trout     Angels     1184.7
18401        Ronald Acuna Jr.     Braves     1120.4
5361          Freddie Freeman     Braves     1069.2
19709      Fernando Tatis Jr.     Padres     1068.5
...                       ...        ...        ...
sa3006544     Brayan Castillo    Rockies        1.8
sa3005439      Elian Ferreira    Rangers        1.8
sa3009609  Wuilliam Hernandez    Rangers        1.8
sa3006386      Yeuris Jimenez    Marlins        1.8
sa3005453          Miguel Lar       Reds        1.8

[8143 rows x 3 columns]

In [103]:
lsd.projections = lsd.projections[~lsd.projections.index.duplicated()]

In [112]:
lsd.projections

                         Name       Team  fg_points
playerid
20123               Juan Soto  Nationals     1195.4
10155              Mike Trout     Angels     1184.7
18401        Ronald Acuna Jr.     Braves     1120.4
5361          Freddie Freeman     Braves     1069.2
19709      Fernando Tatis Jr.     Padres     1068.5
...                       ...        ...        ...
sa3006544     Brayan Castillo    Rockies        1.8
sa3005439      Elian Ferreira    Rangers        1.8
sa3009609  Wuilliam Hernandez    Rangers        1.8
sa3006386      Yeuris Jimenez    Marlins        1.8
sa3005453          Miguel Lar       Reds        1.8

[8137 rows x 3 columns]

In [117]:
lsd.projections.merge(lsd.df, how='left', left_index=True, right_index=True)

,Name,Team,fg_points,Salary,1B,2B,3B,C,OF,RP,SP,SS,Util,n_teams,format
playerid,,,,,,,,,,,,,,,
20123,Juan Soto,Nationals,1195.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10155,Mike Trout,Angels,1184.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18401,Ronald Acuna Jr.,Braves,1120.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5361,Freddie Freeman,Braves,1069.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19709,Fernando Tatis Jr.,Padres,1068.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sa3006544,Brayan Castillo,Rockies,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sa3005439,Elian Ferreira,Rangers,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sa3009609,Wuilliam Hernandez,Rangers,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sa3006386,Yeuris Jimenez,Marlins,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sa3005453,Miguel Lar,Reds,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
lsd.df.index[0] = lsd.df.index.levels[0].astype(int)

In [116]:
lsd.df

,Salary,1B,2B,3B,C,OF,RP,SP,SS,Util,n_teams,format
playerid,,,,,,,,,,,,
2036,30,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12,FanGraphs Points
2434,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,12,FanGraphs Points
2520,11,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12,FanGraphs Points
2967,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,12,FanGraphs Points
3132,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,12,FanGraphs Points
...,...,...,...,...,...,...,...,...,...,...,...,...
22815,8,0.0,0.0,0.0,0.0,0.0,0.5,0.5,0.0,0.0,12,FanGraphs Points
23252,4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12,FanGraphs Points
25377,5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12,FanGraphs Points
27458,9,0.0,0.0,0.0,0.0,0.0,0.5,0.5,0.0,0.0,12,FanGraphs Points
27463,10,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,12,FanGraphs Points