In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import sys
import logging
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import itertools

sys.path.append("..")
from moonlight.steamer_dataset import BatterProjectionDataset, PitcherProjectionDataset, PlayerProjectionDataset
from moonlight.salary_dataset import LeagueSalaryDataset, PlayerIDDataset
from moonlight.salary_scraper import SalaryDataset
from moonlight.valuations import ValuationModel, SlopeModel

In [12]:
vm = ValuationModel()

In [13]:
vm._standardize_data()

In [14]:
x, y = vm._prepare_threshold_model_data()

In [15]:
x.su

,,,fg_points,pSP,pRP,pC,p1B,p2B,p3B,pSS,pOF,pDH,n_teams_12,n_teams_14,n_teams_16
mlbamid,teamname,league_id,,,,,,,,,,,,,
665742,Brad's Hand,13,1195.09080,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0
545361,Brad's Hand,13,1179.28293,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0
594798,Snakes Inside a Leather Armchair,13,1168.71734,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
660670,Brad's Hand,13,1124.48272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0
665487,Brad's Hand,13,1072.26721,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663673,free_agent,1265,-0.91622,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
684327,free_agent,1265,-0.96148,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
679532,free_agent,1265,-0.99422,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
680654,free_agent,1265,-1.09990,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
682563,free_agent,1265,-1.10147,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0

In [9]:
bpd = BatterProjectionDataset()

In [10]:
bpd.build_dataset()

,firstname,lastname,age,fg_points,pC,p1B,p2B,p3B,pSS,pOF,pDH
mlbamid,,,,,,,,,,,
665742,Juan,Soto,22.0,1195.09080,0.0,0.0,0.0,0.0,0.0,1.0,0.0
545361,Mike,Trout,29.0,1179.28293,0.0,0.0,0.0,0.0,0.0,1.0,0.0
660670,Ronald,Acuna Jr.,23.0,1124.48272,0.0,0.0,0.0,0.0,0.0,1.0,0.0
665487,Fernando,Tatis Jr.,22.0,1072.26721,0.0,0.0,0.0,0.0,1.0,0.0,0.0
641355,Cody,Bellinger,25.0,1072.04552,0.0,0.5,0.0,0.0,0.0,0.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...
672575,Kember,Nacero,21.0,0.06035,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671222,Ranser,Amador,22.0,0.06004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
681941,Jaylen,Palmer,20.0,0.05912,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678356,Hector,Vizcaino,21.0,0.05750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670922,Saul,Torres,22.0,0.05645,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
bpd.df.columns

Index(['firstname', 'lastname', 'age', 'AB', 'H', '2B', '3B', 'HR', 'BB',
       'HBP', 'SB', 'CS', 'pC', 'p1B', 'p2B', 'p3B', 'pSS', 'pLF', 'pCF',
       'pRF', 'pDH', 'pOF', 'fg_points'],
      dtype='object')

In [95]:
vm = ValuationModel()
# vm._get_standard_leagues()

In [96]:
vm.build_dataset()

../moonlight/valuations.py:51: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  sm.fit()
../moonlight/valuations.py:51: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  sm.fit()
../moonlight/valuations.py:51: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  sm.fit()

In [97]:
vm.data

,,,firstname,lastname,fg_points,pSP,pRP,pC,p1B,p2B,p3B,pSS,pOF,pDH,Salary,threshold,PAR,Value
mlbamid,teamname,league_id,,,,,,,,,,,,,,,,
665742,Brad's Hand,13,Juan,Soto,1195.09080,False,False,False,False,False,False,False,True,False,44.0,546.367539,648.723261,44.069684
545361,Brad's Hand,13,Mike,Trout,1179.28293,False,False,False,False,False,False,False,True,False,77.0,546.367539,632.915391,42.995809
594798,Snakes Inside a Leather Armchair,13,Jacob,deGrom,1168.71734,True,False,False,False,False,False,False,False,False,52.0,438.467363,730.249977,49.608034
660670,Brad's Hand,13,Ronald,Acuna Jr.,1124.48272,False,False,False,False,False,False,False,True,False,34.0,546.367539,578.115181,39.273069
665487,Brad's Hand,13,Fernando,Tatis Jr.,1072.26721,False,False,False,False,False,False,True,False,False,17.0,606.969314,465.297896,31.609058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663673,free_agent,1203,Tyson,Messer,-0.91622,False,True,False,False,False,False,False,False,False,0.0,377.135353,0.000000,0.000000
684327,free_agent,1203,Cristopher,Valdez,-0.96148,False,True,False,False,False,False,False,False,False,0.0,377.135353,0.000000,0.000000
679532,free_agent,1203,Francisco,Benitez,-0.99422,True,False,False,False,False,False,False,False,False,0.0,428.803924,0.000000,0.000000
680654,free_agent,1203,Luis,Ozoria,-1.09990,False,True,False,False,False,False,False,False,False,0.0,377.135353,0.000000,0.000000
682563,free_agent,1203,Starling,Javier,-1.10147,False,True,False,False,False,False,False,False,False,0.0,377.135353,0.000000,0.000000

In [78]:
vm.data.loc[:, "Intentional Balks", 1203, :].sort_values("Value", ascending=False)

,firstname,lastname,fg_points,pSP,pRP,pC,p1B,p2B,p3B,pSS,...,pDH,Salary,n_teams,format,n_teams_12,n_teams_14,n_teams_16,threshold,PAR,Value
mlbamid,,,,,,,,,,,,,,,,,,,,,
543037,Gerrit,Cole,1059.22299,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,50.0,16,H2H FanGraphs Points,0,0,1,428.803924,630.419066,64.239339
608070,Jose,Ramirez,995.76289,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,45.0,16,H2H FanGraphs Points,0,0,1,540.083067,455.679823,46.433511
663656,Kyle,Tucker,818.72688,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,17.0,16,H2H FanGraphs Points,0,0,1,536.704100,282.022780,28.737959
663757,Trent,Grisham,814.72148,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,13.0,16,H2H FanGraphs Points,0,0,1,536.704100,278.017380,28.329811
614177,Franmil,Reyes,863.97467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,19.0,16,H2H FanGraphs Points,0,0,1,617.398058,246.576612,25.126014
657077,Alex,Verdugo,764.94666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,14.0,16,H2H FanGraphs Points,0,0,1,536.704100,228.242560,23.257785
657557,Paul,DeJong,775.68618,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,12.0,16,H2H FanGraphs Points,0,0,1,597.305874,178.380306,18.176850
514917,Cesar,Hernandez,626.07085,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,6.0,16,H2H FanGraphs Points,0,0,1,457.463575,168.607275,17.180984
669221,Sean,Murphy,460.24208,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,9.0,16,H2H FanGraphs Points,0,0,1,342.961745,117.280335,11.950799
663903,Brady,Singer,511.17611,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,6.0,16,H2H FanGraphs Points,0,0,1,428.803924,82.372186,8.393678
641540,Dane,Dunning,507.53936,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,16,H2H FanGraphs Points,0,0,1,428.803924,78.735436,8.023096
622694,Elieser,Hernandez,503.81476,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,16,H2H FanGraphs Points,0,0,1,428.803924,75.010836,7.643561
663474,Triston,McKenzie,496.32496,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.0,16,H2H FanGraphs Points,0,0,1,428.803924,67.521036,6.880355
666915,Bobby,Dalbec,629.35786,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,3.0,16,H2H FanGraphs Points,0,0,1,578.197890,51.159970,5.213171
542583,Jesus,Aguilar,621.79540,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,5.0,16,H2H FanGraphs Points,0,0,1,578.197890,43.597510,4.442561
664034,Ty,France,495.58143,0.0,0.0,0.0,0.0,0.5,0.0,0.0,...,0.5,3.0,16,H2H FanGraphs Points,0,0,1,537.430817,0.000000,0.000000
656629,Michael,Kopech,388.48206,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.0,16,H2H FanGraphs Points,0,0,1,428.803924,0.000000,0.000000
660813,Brusdar,Graterol,369.46645,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,16,H2H FanGraphs Points,0,0,1,377.135353,0.000000,0.000000
677976,Randy,Dobnak,340.42779,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,16,H2H FanGraphs Points,0,0,1,428.803924,0.000000,0.000000
570240,Felix,Pena,327.53866,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,16,H2H FanGraphs Points,0,0,1,377.135353,0.000000,0.000000
670970,Adrian,Morejon,286.87525,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,16,H2H FanGraphs Points,0,0,1,428.803924,0.000000,0.000000
650382,Darwinzon,Hernandez,276.60724,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,16,H2H FanGraphs Points,0,0,1,377.135353,0.000000,0.000000
671277,Luis,Garcia,269.90204,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,3.0,16,H2H FanGraphs Points,0,0,1,457.463575,0.000000,0.000000
641582,Matt,Foster,243.58640,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,16,H2H FanGraphs Points,0,0,1,377.135353,0.000000,0.000000
642336,Francisco,Mejia,205.63100,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,6.0,16,H2H FanGraphs Points,0,0,1,342.961745,0.000000,0.000000